.loginContainer{
  background-image: url(https://www.southwestern.edu/live/image/gid/30/39093_DJI_0100-Edit.rev.1605813201.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigationBar {
  background-color: aquamarine;
  width: 100%;
  padding: 0;
}
.buttonRow {
  justify-content: space-evenly;
}
.navbar .navbar-expand .navbar-light {
  padding: 0;
}